.wrapper {
  background: #1f1e29;
  overflow: hidden;
  position: relative;
  padding-bottom: 80px;
  .ido_wrapper {
    background: #d9d9d9af;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 14px;
    .project {
      display: flex;
      padding-bottom: 10px;
          background: #ffffff59;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px;
      img {
        width: 440px;
        height: 220px;
      }
      .text {
        padding: 10px 20px;
        h1 {
          font-size: 24px;
          color: #fff;
        }
        h2 {
          color: #fff;
          font-size: 12px;
          padding: 10px 0;
          img {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
        p {
          color: #fff;
          font-size: 12px;
          height: 132px;
          overflow: auto;
        }
      }
    }
    .ido {
      margin: 0 auto 10px auto;
      background: #1f1e29;
      border-radius: 14px;
      color: #f28403;
      padding: 10px 20px;
      .title {
        border-bottom: 1px solid #ffffff0e;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .text {
          h1 {
            font-size: 12px;
            padding: 6px 0;
          }
          p {
            background: linear-gradient(
              90.09deg,
              #ffffff 2.49%,
              rgba(255, 255, 255, 0) 126.5%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 18px;
          }
        }
        .deadline {
          background: #ffffff0e;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 10px;
          padding: 8px 20px;
          font-size: 12px;
          span {
            color: #fff;
            margin-right: 10px;
          }
          .timer {
            color: #f18103;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              margin: 0 10px;
            }

            .time {
              font-size: 16px;
              font-weight: bold;
            }

            .label {
              font-size: 12px;
              margin-top: 4px;
            }
          }
        }
      }
      .content {
        padding: 15px 0;
        display: flex;

        .info {
          width: 70%;
          border-right: 1px solid #ffffff0e;
          padding-right: 20px;

          .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

            span:first-child {
              font-size: 12px;
              color: #fff;
            }

            span:last-child {
              font-size: 16px;
            }
          }

          ul {
            background: #ffffff0e;
            padding: 10px 15px;
            border-radius: 15px;
            display: flex;
            margin-top: 10px;
            justify-content: space-between;

            li {
              h1 {
                font-size: 12px;
                color: #fff;
                padding: 5px 0;
              }

              p {
                padding: 5px 0;
              }
            }
          }
        }

        .submit {
          width: 30%;
          padding: 0 10px;

          input {
            width: 100%;
            background: #ffffff30;
            border-radius: 10px;
            font-size: 16px;
            border: none;
            padding: 15px 20px;
          }

          .label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            span:first-child {
              font-size: 12px;
              color: #fff;
            }

            span:last-child {
              font-size: 12px;
            }
          }

          button {
            background: #f18103;
            color: #fff;
            cursor: pointer;
            width: 100%;
            border: none;
            padding: 15px 15px;
            border-radius: 5px;

            i {
              background: url(../public/home/white_arrow.svg) no-repeat center/
                100% auto;
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    .detail {
      display: flex;
      .data {
        flex:1;
          .team {
              padding: 15px 20px;
              border-radius: 10px;
              display: -ms-flexbox;
              display: flex;
              color: #fff;
              background: #2a2a2a40;
              border: 1px solid #ffffff87;
              img {
                width: 96px;
                height: 96px;
              }
          
              .text {
                padding-left: 20px;
                h1{
                  font-size: 18px;
                }
                h2 {
                  color: #FFB800;
                  padding: 5px 0;
                }
                p{
                  font-size: 12px;
                }
              }
            }
          
            .protocol {
              width: 725px;
              flex-shrink: 0;
              display: flex;
              color: #fff;
              background: #2a2a2a40;
              border: 1px solid #ffffff87;
              flex-direction: column;
              margin-top: 10px;
              padding: 15px 20px;
              border-radius: 10px;
          
              .title {
                font-size: 30px;
                font-weight: bold;
                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 20px;
          
                &::before {
                  content: "";
                  width: 17px;
                  height: 17px;
                  background-color: #fcbf19;
                  border-radius: 2px;
                  margin-right: 20px;
                }
              }
          
              p {
                font-size: 14px;
                line-height: 1.5;
                padding-bottom: 40px;
                position: relative;
                margin-bottom: 20px;
          
                &::before {
                  content: "";
                  width: 110px;
                  height: 10px;
                  background-color: #fcbf19;
                  border-radius: 10px;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                }
              }
            }
      }
      .metric {
        flex: 1;
            margin: 0 10px;
              border-radius: 10px;
              padding: 15px 20px;
              background: #1F1E29;
              color: #64708B;
      }
    }
    
  
 
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
  }
}
