body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5, PingFangSC-Regular, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    outline: none;
}

button {
    font-family: alibaba-puhuiti, sans-serif;
}

input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

fieldset,
img {
    border: 0;
}

iframe {
    display: block;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

a:hover {
    text-decoration: underline;
}

ins,
a {
    text-decoration: none;
}


*,
::after,
::before {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: Product;
}

body {
    background: #f5f5f5;
    animation: overflow 6s;
    animation-fill-mode: forwards;
}

html,body{
    scroll-behavior: smooth;
}

@font-face {
    font-family: play;
    src: url(../public/fonts/Play-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: PPRightGrotesk;
    src: url(../public/fonts/PPRightGrotesk-SpatialBlack.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Product;
    src: url(../public/fonts/Product-Sans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}