.wrapper {
  overflow: hidden;
  background: #1f1e29;
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .top {
    position: relative;
    padding: 20px 0;
    &::before {
      content: '';
      background: url(../public/home/topbg.png);
      background-size: 100% 100%;
      width: 745px;
      height: 750px;
      position: absolute;
      top: -120px;
      right: -120px;
      z-index: 1;
    }
    .text {
      width: 840px;
      font-size: 64px;
      margin-top: 60px;
      background-image: linear-gradient(to right, #ff4d00, #f28404);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .buttons {
      display: flex;
      margin-top: 40px;
      position: relative;
      z-index: 5;
      > div {
        margin-right: 20px;
      }
    }
    .tips {
      font-size: 18px;
      color: #b4a592;
      width: 540px;
      margin-top: 60px;
    }
    p {
      position: absolute;
      font-size: 18px;
      color: #b4a592;
      width: 260px;
      left: 350px;
      bottom: 210px;
      line-height: 28px;
      &::before {
        content: '';
        position: absolute;
        background: url(../public/home/path1.png);
        width: 544px;
        height: 524px;
        background-size: 100% 100%;
        top: -240px;
        left: -550px;
        z-index: 1;
      }
    }
  }
  .contacts {
    margin-top: 150px;
    .title {
      color: #b4a592;
      text-align: center;
      letter-spacing: 5px;
    }
    .contact {
      display: flex;
      justify-content: center;
      padding: 50px 0;
      a {
        margin-left: 20px;
      }
      .item {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #ccc;
        margin: 0 30px;
        position: relative;
        &::before {
          content: '';
          height: 25px;
          width: 1px;
          background: rgba($color: #fff, $alpha: 0.1);
          right: -32px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .progress {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    position: relative;
    z-index: 2;
    &::before {
      content: '';
      background: url(../public/home/shadow.png);
      width: 700px;
      height: 700px;
      background-size: 100% 100%;
      position: absolute;
      left: -420px;
      top: 50%;
      margin-top: -350px;
      z-index: 1;
    }
    .item {
      width: 280px;
      height: 260px;
      border: 1px solid rgba($color: #f28404, $alpha: 0.5);
      border-radius: 20px;
      text-align: center;
      .icon {
        margin: 20px auto;
        width: 58px;
        height: 58px;
      }
      .amount {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
      }
      .label {
        color: #f28404;
        font-size: 18px;
        margin: 15px 0;
      }
      .time {
        margin-top: 20px;
        font-size: 16px;
        color: rgba($color: #ffffff, $alpha: 0.25);
      }
      &:nth-child(1) {
        .icon {
          background: url(../public/home/icon1.png) no-repeat center center;
        }
      }
      &:nth-child(2) {
        .icon {
          background: url(../public/home/icon2.png);
          background-size: 100% 100%;
        }
      }
      &:nth-child(3) {
        .icon {
          background: url(../public/home/icon3.png);
          background-size: 100% 100%;
        }
      }
      &:nth-child(4) {
        .icon {
          background: url(../public/home/icon4.png);
          background-size: 100% 100%;
        }
      }
    }
  }
  .help {
    height: 455px;
    background: rgba($color: #535353, $alpha: 0.1);
    .content {
      width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      .text {
        width: 680px;
        font-size: 40px;
        line-height: 1.5;
        margin: 50px 0;
        background-image: linear-gradient(
          to right,
          rgba($color: #ffffff, $alpha: 1),
          rgba($color: #ffffff, $alpha: 0.1)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .buttons {
        display: flex;
        > div {
          margin-right: 20px;
        }
      }
    }
  }
  .nft {
    height: 400px;
    background-color: #1f1e2a;
    position: relative;
    z-index: 2;
    .content {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      position: relative;
      &::before {
        content: '';
        background: url(../public/home/nft.png);
        width: 564px;
        height: 336.8px;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .main {
        width: 650px;
        overflow: hidden;
        .title {
          margin-top: 150px;
          font-size: 45px;
          background-image: linear-gradient(to right, #ff4d00, #f28404);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .subtitle {
          font-size: 18px;
          color: #b4a592;
          letter-spacing: 5px;
          line-height: 1.5;
        }
        .btn {
          width: 150px;
          margin-top: 50px;
        }
      }
    }
  }
  .questions {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url(../public/home/questionbg.png);
      width: 1440px;
      height: 555px;
      background-size: 100% 100%;
      z-index: 1;
      left: 50%;
      top: -500px;
      transform: translateX(-50%);
    }
    .content {
      width: 1200px;
      margin: 0 auto;
      .title {
        text-align: center;
        font-size: 45px;
        margin-top: 100px;
        span {
          background-image: linear-gradient(to right, #ff4d00, #f28404);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            background: url(../public/home/titleicon1.png);
            width: 34px;
            height: 32px;
            left: -40px;
            top: -20px;
          }
          &::after {
            content: '';
            position: absolute;
            background: url(../public/home/titleicon2.png);
            width: 43px;
            height: 41px;
            right: -40px;
            top: -20px;
          }
        }
      }
      p {
        text-align: center;
        color: #fff;
        font-size: 24px;
        width: 650px;
        margin: 40px auto 60px;
        line-height: 1.4;

        a {
          color: #f38304;
        }
      }
      .q,
      .a {
        padding: 30px;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      .q {
        background: rgba($color: #684518, $alpha: 0.05);
        padding-left: 60px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 9px;
          height: 9px;
          background-color: #f28904;
          border-radius: 50%;
          left: 30px;
          top: 39px;
        }
      }
      .a {
        background: rgba($color: #f28904, $alpha: 0.1);
        border: 1px solid #f28904;
      }
    }
  }
  .sign {
    border: 1px solid #ffab5a;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding: 40px 60px;
    position: relative;
    margin-top: 60px;
    &::before {
      content: '';
      background: url(../public/home/bag.png);
      width: 500px;
      height: 500px;
      background-size: 100% 100%;
      position: absolute;
      right: 0;
      top: -150px;
    }
    .subtitle {
      color: #fff;
      font-size: 18px;
      letter-spacing: 5px;
      margin-bottom: 20px;
    }
    .title {
      color: #ff8c25;
      font-size: 35px;
      width: 640px;
    }
    .inputs {
      height: 62px;
      display: flex;
      width: 600px;
      align-items: center;
      border-radius: 15px;
      padding: 0 5px;
      margin-top: 40px;
      border: 1px solid rgba($color: #f28404, $alpha: 0.1);
      input {
        background: transparent;
        outline: none;
        border: none;
        width: 500px;
        padding: 0 5px;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
  }
}
