.launchpadItemsWarp {
  flex: 1;
  color: white;
  font-family: "Play";
  padding-top: 70px;
  min-width: 0;
  display: flex;
  margin: 0 24px;
  .leftBox {
    flex: 1;
    min-width: 0;
    .cardTop {
      background-color: #20212a;
      border-radius: 30px;
      padding: 16px;
    }
    .topBox {
      display: flex;
      align-items: center;
      .imgBox {
        width: 75px;
        height: 75px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .infoBox {
        img{
            width: 100px;
        }
        .nameCss {
          font-size: 26px;
          color: #fafafa;
        }
      }
    }
    .descCss {
      color: #beb5b5;
      font-size: 13px;
      margin-top: 16px;
    }
    .tagItemBlue {
      background-color: rgba(115, 176, 224, 0.15);
      color: #73b0e0;
      font-size: 14px;
      border-radius: 24px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      padding: 0 12px;
      display: inline-block;
    }
    .scrollCard {
      border-radius: 30px;
      background-color: #20212a;
      padding: 24px 0px;
      margin-top: 36px;
      .itemWrapBox {
        background-color: #23282d;
        margin: 0 16px;
      }
    }
  }
  .tagItemYellow {
    background-color: rgba(95, 95, 95, 0.15);
    color: #ffb800;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    padding: 0 12px;
    border-radius: 18px;
  }
  .tagItemGreen{
    background-color: rgba(33, 191, 115, .15);
    color: #21BF73;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    padding: 0 12px;
    border-radius: 18px;
  }
  .tagItemGray{
    background-color: rgba(152, 152, 152, .15);
    color: #989898;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    padding: 0 12px;
    border-radius: 18px;

  }
  .gapCss {
    background-color: #0b0b0b;
    height: 1px;
    width: 100%;
  }
  .itemBox {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    .labelCss {
      font-size: 14px;
      color: #fafafa;
      span{
        color: #beb5b5;
        font-size: 12px;
      }
    }
    .valueCss {
      color: #fafafa;
      font-size: 13px;
      text-align: right;
      .purpleTag {
        background-color: rgba(118, 95, 250, 0.15);
        color: #765ffa;
        padding: 0 12px;
        height: 19px;
        line-height: 19px;
        border-radius: 18px;
      }
      .yellowCss {
        color: #ffb800;
        font-size: 14px;
        margin-bottom: 4px;
        text-align: right;
      }
      .bottomWord {
        font-size: 12px;
        color: #beb5b5;
        text-align: right;
      }
    }
  }
  .rightBox {
    width: 390px;
    padding: 0 12px;
    margin-left: 12px;
    .cardTop {
      background-color: #20212a;
      border-radius: 30px;
      padding: 16px;
      .titleCss {
        font-size: 16px;
        color: #fafafa;
        width: 100%;
        text-align: center;
      }
      .titleCss2 {
        color: #fafafa;
        font-size: 13px;
      }
      .progressBox {
        margin-top: 16px;
        .titleCss1 {
          color: #beb5b5;
          font-size: 13px;
        }
        .numCss {
          color: #ffb800;
          font-size: 12px;
        }
        .topCss {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        }
        .pregressBar {
          height: 10px;
          width: 100%;
          background-color: #ffb800;
          margin: 12px 0;
        }
        .progressBottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
  .itemBox1 {
    background-color: #23282d;
  }
  .cardBottom{
    background-color: #1e1e25;
    border-radius: 30px;
    margin-top:16px;
    padding:16px;
    margin-bottom: 16px;
    .titleCss3{
        font-size: 16px;
        color: #fafafa;
        margin-bottom: 8px;
    }
    img{
        width: 326px;
    }
  }
}
