.wrapper {
  background-color: #f5f5f5;
  padding-bottom: 60px;
  .ori {
    color: #fcbf19;
  }
  .red {
    color: #ee492e;
  }
  .blue {
    color: #73b0e0;
  }
  .topimg {
    width: 1440px;
    margin: 0 auto;
    background: url(../public/launchpad/launchpad_top.png) no-repeat center
      top/100% auto;
    padding: 150px 0 30px 0;
    overflow: hidden;
  }

  .container {
    width: 1080px;
    margin: 0 auto;
    .card {
      background-color: #fff;
      padding: 30px;
      border-radius: 20px;
      &.grayback {
        background-color: rgba(227, 227, 227, 0.5);
      }
    }
    .project {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .banner {
        width: 552px;
        height: 340px;
        flex-shrink: 0;
        background-color: #cfcfcf;
        border-radius: 20px;
        margin-right: 20px;
        background: #161616 url(../public/launchpad/arks.jpg) no-repeat
          center/auto 100%;
      }
      .banner1 {
        width: 552px;
        height: 340px;
        flex-shrink: 0;
        background-color: #cfcfcf;
        border-radius: 20px;
        margin-right: 20px;
        background: #161616 url(../public/launchpad/project1.jpg) no-repeat
          center/auto 100%;
      }
      .banner2 {
        width: 552px;
        height: 340px;
        flex-shrink: 0;
        background-color: #cfcfcf;
        border: 1px solid #cfcfcf;
        border-radius: 20px;
        margin-right: 20px;
        background: #fff url(../public/launchpad/project2.png) no-repeat
          center/auto 100%;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        .title {
          font-size: 28px;
          color: #525252;
          font-weight: bold;
        }
        .avatar {
          display: flex;
          align-items: center;
          .name {
            color: #000;
            font-size: 18px;
            margin-left: 12px;
          }
        }
        .intro {
          font-size: 12px;
          color: #64708b;
          background-color: #e3e3e3;
          padding: 20px;
          border-radius: 20px;
          line-height: 20px;
          margin: 20px 0;
          flex: 1;
        }
        .contact {
          display: flex;
          align-items: center;
          .item {
            margin-right: 20px;
          }
        }
      }
    }
    .swap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .item {
        width: 530px;
        .title {
          font-size: 20px;
          font-weight: bold;
          color: #423554;
          display: flex;
          align-items: center;
          position: relative;
          padding-bottom: 29px;
          margin-bottom: 29px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.2);
          &::before {
            content: "";
            background: url(../public/launchpad/titleicon.png);
            width: 57px;
            height: 50px;
            background-size: 100% 100%;
            margin-right: 10px;
          }
          .deadline {
            position: absolute;
            right: 0;
            ul {
              display: flex;
              li {
                background: url(../public/stake/timebg.png);
                width: 36px;
                height: 47.4px;
                background-size: 100% 100%;
                margin: 0 5px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                h1 {
                  color: #383838;
                  margin-bottom: 4px;
                  font-size: 16px;
                }
                p {
                  color: #8e8e8e;
                  font-size: 12px;
                }
              }
            }
          }
        }
        &:nth-child(2) {
          // filter: opacity(0.7);
        }
      }
      .list {
        display: flex;
        justify-content: space-between;
        margin: 12px 0;
        font-size: 16px;
        .label {
          color: #64708b;
          font-weight: bold;
        }
        &.small {
          font-size: 14px;
          .label {
            color: #423554;
          }
        }
      }
      .amount {
        padding: 24px;
        border-radius: 20px;
        background-color: #f6f6f6;
        margin: 30px 0;
      }
      .btnText {
        margin-right: 6px;
        color: #fff;
      }
    }
    .team {
      .title {
        font-size: 28px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .member {
        background-color: #f3f9fd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        padding: 20px;
        border-radius: 20px;
        .avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
        }
        .name {
          font-size: 20px;
          margin-top: 5px;
        }
        .position {
          font-size: 16px;
          margin: 10px 0;
        }
        p {
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          height: 100px;
          overflow-y: auto;
        }
      }
    }
    .data {
      display: flex;
      margin-top: 20px;
      .protocol {
        width: 725px;
        flex-shrink: 0;
        color: #000;
        .title {
          font-size: 30px;
          font-weight: bold;
          display: flex;
          align-items: center;
          margin-top: 10px;
          margin-bottom: 20px;
          &::before {
            content: "";
            width: 17px;
            height: 17px;
            background-color: #fcbf19;
            border-radius: 2px;
            margin-right: 20px;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.5;
          padding-bottom: 40px;
          position: relative;
          margin-bottom: 20px;
          &::before {
            content: "";
            width: 110px;
            height: 10px;
            background-color: #fcbf19;
            border-radius: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    .other {
      margin-left: 20px;
      .card {
        margin-bottom: 20px;
        .title {
          font-size: 24px;
        }
      }
      .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        font-size: 18px;
        .label {
          color: #64708b;
          font-weight: bold;
        }
      }
      .inner {
        background-color: #f3f9fd;
        padding: 20px;
        border-radius: 20px;
      }
      .tips {
        background-color: #e3e3e3;
        color: #afafaf;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
      }
      .prompt {
        .title {
          font-size: 24px;
          color: #423554;
          margin-bottom: 20px;
        }
        p {
          line-height: 20px;
          font-size: 12px;
          color: #64708b;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.wrap {
  height: 56px;
  border: 1px solid rgba($color: #000000, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;

  input,
  button {
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
  }

  input {
    flex-grow: 1;
    padding: 0 14px;
    border-radius: 20px;
  }

  button {
    background: transparent;
    padding: 0 20px;
    cursor: pointer;
  }
}
