.wrapper {
  .inner {
    width: 1080px;
    margin: 0 auto;
    background: url(../public/launchpad/launchpad_top.png) no-repeat center
      top/100% auto;
    padding: 150px 0 60px 0;
    overflow: hidden;
    .projects {
      li {
        width: 100%;
        background: #edecec;
        color: #000;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        span {
          background: #fff;
          display: block;
          padding: 10px 10px 48px 10px;
          h1 {
            img {
              width: 100%;
              margin: 0 auto;
              display: block;
              border-radius: 20px 20px 0 0;
              object-fit: cover;
              height: 100%;
                  object-position: center 80%;
            }
            height: 250px;
            overflow: hidden;
          }
          i {
            position: absolute;
            top: 185px;
            left: 30px;
            img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              border: 8px solid #fff;
              object-fit: cover;
            }
          }
          h2 {
            font-size: 22px;
            text-align: right;
            position: absolute;
            color: #fff;
            text-shadow: 1px 1px 10px rgb(156, 156, 156);
            left: 200px;
            top: 220px;
          }
          dt {
            display: flex;
            float: right;
            position: absolute;
            right: 30px;
            top: 225px;
            dl {
              display: inline-block;
              width: 20px;
              height: 20px;
              opacity: 0.4;
              margin: 5px 3px;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
              &.twitter {
                margin: 5px 0px;
                background: url(../public/launchpad/icon_twitter.png) no-repeat
                  center/100% auto;
              }
              &.telegarm {
                background: url(../public/launchpad/icon_telegram.png) no-repeat
                  center/100% auto;
              }
              &.medium {
                background: url(../public/launchpad/icon_medium.png) no-repeat
                  center/100% auto;
              }
              &.github {
                background: url(../public/launchpad/icon_github.png) no-repeat
                  center/100% auto;
              }
              &.discord {
                background: url(../public/launchpad/icon_discord.png) no-repeat
                  center/100% auto;
              }
            }
          }
        }
        p {
          padding: 20px;
          font-size: 14px;
          background: #fff;
          padding-left: 190px;
          margin-top: -50px;
        }
      }
    }
    .detail {
      margin-top: 20px;
      display: flex;
      .left {
        width: 425px;
        .left_content {
          background: #fff;
          padding: 20px;
          border-radius: 20px;
          border: 2px solid #fcbf19;
          .pool {
            ul {
              display: flex;
              li {
                background: url(../public/stake/timebg.png);
                width: 63px;
                height: 79px;
                background-size: 100% 100%;
                margin: 0 15px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                h1 {
                  font-style: oblique;
                  color: #383838;
                  margin-bottom: 10px;
                  font-size: 24px;
                }

                p {
                  color: #8e8e8e;
                  font-weight: bold;
                  font-size: 12px;
                }
              }
            }
            .title {
              font-size: 12px;
              padding: 10px 0;
              span {
                &.orange {
                  float: right;
                  color: #fcbf19;
                }
              }
            }
            .progress {
              height: 12px;
              border-radius: 11px;
              background: #d9d9d9;
              position: relative;
              margin-bottom: 10px;

              .progress_inner {
                position: absolute;
                width: 0%;
                background: #ffb800;
                border-radius: 11px;
                left: 0;
                top: 0;
                bottom: 0;
                text-align: right;
                font-size: 12px;
                color: #333;
                line-height: 12px;
              }
            }
            dl {
              display: flex;
              margin: 30px 0;
              dt {
                flex: 1;
                text-align: center;
                &:first-child {
                  border-right: 1px solid #8e8e8e;
                }
                h1 {
                  font-size: 18px;
                  font-weight: bold;
                }
                p {
                  font-size: 14px;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
            .deadline {
              background: #f3f9fd;
              border-radius: 10px;
              padding: 10px 20px;
              font-size: 14px;
              color: #64708b;
              .rows {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;
                span {
                  &:first-child {
                    font-weight: bold;
                    color: #333;
                  }
                }
              }
              .tips {
                color: #afafaf;
                font-size: 12px;
                text-align: right;
                margin: 10px 0;
              }
            }
            .btns {
              display: flex;
              flex-direction: row-reverse;
              button {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 219px;
                height: 50px;
                background: #ffb800;
                border-radius: 20px;
                outline: none;
                border: none;
                font-size: 16px;
                margin-top: 40px;
                cursor: pointer;

                &::after {
                  content: "";
                  background: url(../public/home/white_arrow.svg);
                  width: 12px;
                  height: 12px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
        .detail {
          background: #fff;
          padding: 20px;
          border-radius: 20px;
          flex-direction: column;
          .rows {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;

            span {
              &:first-child {
                font-weight: bold;
                color: #333;
              }
            }
          }
          .deadline {
            background: #f3f9fd;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 14px;
            color: #64708b;
            margin: 10px 0;
            .rows {
              display: flex;
              justify-content: space-between;
              padding: 5px 0;

              span {
                &:first-child {
                  font-weight: bold;
                  color: #333;
                }
              }
            }

            .tips {
              color: #afafaf;
              font-size: 12px;
              text-align: right;
              margin: 10px 0;
            }
          }
        }
      }
      .right {
        background: #fff;
        flex: 1;
        margin-left: 20px;
        border-radius: 20px;
            overflow: hidden;
            padding: 20px;
            font-size: 12px;
            img{
              margin-bottom: 20px;
            }
            p{
              color: #383838;
              line-height: 1.5em;
            }
      }
    }
  }
}

@keyframes loop1 {
  0% {
    left: 0;
  }
  100% {
    left: -642px;
  }
}

@keyframes loop2 {
  0% {
    left: -642px;
  }
  100% {
    left: -0;
  }
}
