.header {
  background-color: #1f1e29;
  .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .nav {
      font-family: "Play";
      li {
        color: #fff;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        &:hover,
        &.active {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
    .logo {
      background: url(../public/images/logo.png) no-repeat center/100% auto;
      width: 214px;
      height: 58.8px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
    .settings {
      display: flex;
      .wallet {
        margin-left: 10px;
        border: none;
        .wallet_inner {
          position: relative;
          &:hover {
            ul {
              display: block;
            }
          }
          ul {
            display: none;
            position: absolute;
            padding: 10px 0;
            margin-top: -10px;
            z-index: 999;
            li {
              margin: 5px 0;
              border-radius: 20px;
              &:hover {
                button {
                  background: #ff9500;
                }
              }
            }
          }
        }
        button {
          border: none;
          background: linear-gradient(#f28904, #ef6600);
          color: #fff;
          height: 44px;
          line-height: 44px;
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          border-radius: 13px;
        }
      }
    }
  }
}

.footer {
  background: #1f1e29;
  padding-top: 40px;
  font-size: 18px;
  position: relative;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  &::before {
    content: "";
    background: url(../public/layout/footerbg.png);
    width: 1440px;
    height: 302px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .inner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 250px;
    position: relative;
    &::after {
      content: "";
      background: url(../public/home/path2.png);
      width: 596px;
      height: 177px;
      position: absolute;
      left: 180px;
      bottom: 0;
    }
    .content {
      width: 680px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .social {
        margin-right: 20px;
      }
      .navs {
        display: flex;
        flex-direction: column;
        color: #fff;
        a {
          margin-bottom: 5px;
          text-decoration: none;
        }
      }
      .title {
        color: #f28904;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
      }
    }
    .copyright {
      p {
        color: #fff;
        padding: 3px 0;
        &:nth-child(2) {
          opacity: 0.5;
        }
      }
    }
    .logo {
      background: url(../public/images/logo.png);
      width: 214.8px;
      height: 58.8px;
      background-size: 100% 100%;
    }
    .contact {
      text-align: center;
      div {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        cursor: pointer;
        &.tg {
          background: url(../public/home/w-tel.png) no-repeat center/100% auto;
          width: 23px;
          height: 23px;
        }
        &.md {
          background: url(../public/home/w-md.png) no-repeat center/100% auto;
          width: 28px;
          height: 28px;
        }
        &.tw {
          background: url(../public/home/w-twitter.png) no-repeat center/100%
            auto;
          width: 28px;
          height: 28px;
        }
        &.dc {
          background: url(../public/home/w-discord.png) no-repeat center/100%
            auto;
          width: 28px;
          height: 23px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    .inner {
      width: 94%;
      padding: 10px 0;
      font-size: 14px;
      .nav {
        font-family: "Play";
        li {
          padding: 5px 8px;
        }
      }
      .logo {
        background: url(../public/images/logo.png) no-repeat;
        width: 71.6px;
        height: 19.6px;
        background-size: 100% 100%;
      }
      .settings {
        .wallet {
          margin-left: 5px;
          .wallet_inner {
            ul {
              padding: 10px 0;
              margin-top: -10px;
              li {
                margin: 5px 0;
                border-radius: 20px;
                &:hover {
                  button {
                    background: #ff9500;
                  }
                }
              }
            }
          }
          button {
            height: 30px;
            line-height: 30px;
            width: 80px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 40px;
    font-size: 14px;
    position: relative;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    &::before {
      display: none;
    }
    .inner {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      height: 200px;
      position: relative;
      flex-direction: column;
      &::after {
        content: "";
        background: url(../public/home/path2.png);
        width: 298px;
        height: 88.5px;
        background-size: 100% 100%;
        position: absolute;
        left: 180px;
        bottom: 0;
      }
      .content {
        width: 100%;
        margin-bottom: 20px;
        .social {
          margin-right: 10px;
        }
        .navs {
          display: flex;
          flex-direction: column;
          color: #fff;
          a {
            margin-bottom: 5px;
            text-decoration: none;
          }
        }
        .title {
          color: #f28904;
          margin-bottom: 20px;
          font-weight: 700;
          font-size: 18px;
        }
      }
      .copyright {
        p {
          color: #fff;
          padding: 3px 0;
          text-align: center;
          &:nth-child(2) {
            opacity: 0.5;
          }
        }
      }
      .logo {
        background: url(../public/images/logo.png);
        width: 107.4px;
        height: 29.4px;
        background-size: 100% 100%;
        margin-left: 10px;
      }
      .contact {
        text-align: center;
        div {
          display: inline-block;
          width: 50px;
          height: 50px;
          margin-right: 20px;
          cursor: pointer;
          &.tg {
            background: url(../public/home/w-tel.png) no-repeat center/100% auto;
            width: 23px;
            height: 23px;
          }
          &.md {
            background: url(../public/home/w-md.png) no-repeat center/100% auto;
            width: 28px;
            height: 28px;
          }
          &.tw {
            background: url(../public/home/w-twitter.png) no-repeat center/100%
              auto;
            width: 28px;
            height: 28px;
          }
          &.dc {
            background: url(../public/home/w-discord.png) no-repeat center/100%
              auto;
            width: 28px;
            height: 23px;
          }
        }
      }
    }
  }
}
