.idoWrapper{
  color: white;
  font-family: 'Play';
  .banner{
    height: 300px;
    background: linear-gradient(360deg, #FFB800 0%, rgba(21, 20, 20, 0) 35.96%);
    position: relative;
    overflow: hidden;
    i{
        background: url(../public/home/staking_banner.png) no-repeat center/100% auto;
        width: 150px;
        height: 237px;
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -75px;
    }
  }
  .form {
    display: flex;
    width: 960px;
    margin: 0 auto 20px;
    text-align: center;
    flex-direction: column;
    padding: 26px 25px;
    color: white;
    background: #151515;
    top: -30px;
    position: relative;
    z-index: 9;
    h3 {
        line-height: 42px;
        font-size: 26px;
        font-weight: normal;
        color: #FFB800;
        margin-top: 20px;
        margin-bottom: 5px;
        padding-top: 25px;
        border-top: 1px solid #666;
    }
    h4{
        color: #6EB737;
    }
    h5{
        color: #c4c4c4;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .deadline{
      padding: 15px 0;
      position: relative;
      text-align: center;
      i{
        font-style: normal;
        font-size: 27px;
        margin-left: -300px;
        left: 46%;
        position: absolute;
        top: 40px;
        color: #ffb800;
      }
      ul{
        padding-left: 170px;
        li{
          display: inline-block;
          text-align: center;
          padding: 0 10px;
          font-size: 36px;
        }
      }
    }
    .timeout {
      font-size: 36px;
    }
    .timeoutDesc {
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      font-size: 10px;
      color: #666666;
    }
    .info {
      margin-top: 10px;
      font-size: 22px;
      color: #ccc;
      b{
        color: #FFB800;
      }
      .sub {
        font-size: 12px;
        color: #666666;
      }
    }
    .buttonDefault {
      height: 76px;
      border: 1px solid #4A4A4A;
      color: #FFB800;
      font-size: 20px;
      background: transparent;
    }
    .btns{
      display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        span{
              flex: 1 1;
              padding: 0 20px 0 0;
              position: relative;
              .input {
                  color: #FFB800;
                  border: 1px solid #4A4A4A;
                  background: transparent;
                  margin-right: 13px;
                  padding: 5px 15px;
                  text-align: center;
                  font-size: 20px;
                  width: 100%;
                  height: 100%;
              }
              button{
                position: absolute;
                right: 30px;
                  top: 18px;
                  background: #ffb800;
                  color: #fff;
                  border: none;
                  padding: 10px 19px;
                  cursor: pointer;
              }
        }
 
        .buttonPrimary {
          flex: 1 1;
            height: 76px;
            border: 1px solid #FFB800;
            color: #FFB800;
            font-size: 20px;
            background: transparent;
            padding: 0 20px;
            cursor: pointer;;
      
          .inner {
            border-left: 5px solid #6EB737;
            border-right: 5px solid #6EB737;
          }
        }
    }
    .input_tips{
        padding: 4px 0;
          color: #fff;
          font-size: 12px;
          text-align: left;
    }
    .tips{
      padding: 15px 0;
      color: #666666;
      font-size: 12px;
    }
   
  }
  .cells {
    padding: 10px 0;
    .progress{
      border: 1px solid #FFB800;
      height: 15px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      margin: 20px 0;
      i{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 40%;
        background: #FFB800;
      }
    }
    .cell {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 14px 0;
      .input{
        border: 1px solid #666666;
        padding: 15px 20px;
        font-size: 30px;
        color: #c5c5c5;
        width: 100%;
        background: #000;
      }
      .label {
        b{
            color: #6EB737;
        }
      }
      .content {
        b{
          color: #FFB800;
        }
      }
    }
  }
  .borderTop {
    border-top: 1px solid #4A4A4A;
  }
  .borderBottom {
    border-bottom: 1px solid #4A4A4A;
  }
  .colorPrimary {
    color: #FFB800;
  }

  .detail{
    padding-bottom: 30px;
    ul{
        li{
            display: inline-block;
            text-align: center;
            width: 50%;
            font-size: 32px;
            h1{
                line-height: 1.5em;
                i{
                  color: #FFB800;
                  font-size: 16px;
                  font-style: normal;
                  margin-left: 5px;
                }
                b{
                    font-size: 12px;
                }
            }
            p{
                font-size: 12px;
                color: #6EB737;
            }
        }
    }
  }
}

@media screen and (max-width: 500px) {
    .idoWrapper {
        color: white;
        font-family: 'Play';
        .banner {
            height: 300px;
            background: linear-gradient(360deg, #FFB800 0%, rgba(21, 20, 20, 0) 35.96%);
            position: relative;
            overflow: hidden;

            i {
                background: url(../public/home/staking_banner.png) no-repeat center/100% auto;
                width: 150px;
                height: 237px;
                position: absolute;
                bottom: -6px;
                left: 50%;
                margin-left: -75px;
            }
        }

        .form {
            display: flex;
            width: 100%;
            margin: 0 auto 20px;
            text-align: center;
            flex-direction: column;
            padding: 26px 25px;
            color: white;
            background: #151515;
            top: -30px;
            position: relative;
            z-index: 9;

            h3 {
                line-height: 42px;
                font-size: 36px;
                font-weight: normal;
                color: #FFB800;
                margin-top: 20px;
                margin-bottom: 5px;
                padding-top: 25px;
                border-top: 1px solid #666;
            }

            h4 {
                color: #6EB737;
            }

            h5 {
                color: #c4c4c4;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .deadline {
                padding: 15px 0;
                position: relative;
                text-align: center;

                i {
                    font-style: normal;
                    font-size: 27px;
                    margin-left: -300px;
                    left: 46%;
                    position: absolute;
                    top: 40px;
                    color: #ffb800;
                }

                ul {
                    padding-left: 170px;

                    li {
                        display: inline-block;
                        text-align: center;
                        padding: 0 10px;
                        font-size: 36px;
                    }
                }
            }

            .timeout {
                font-size: 36px;
            }

            .timeoutDesc {
                width: 200px;
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                font-size: 10px;
                color: #666666;
            }

            .info {
                margin-top: 10px;
                font-size: 22px;
                color: #ccc;

                b {
                    color: #FFB800;
                }

                .sub {
                    font-size: 12px;
                    color: #666666;
                }
            }

            .buttonDefault {
                height: 76px;
                border: 1px solid #4A4A4A;
                color: #FFB800;
                font-size: 20px;
                background: transparent;
            }

            .btns {
                display: flex;
                justify-content: space-evenly;
                margin-top: 10px;

                span {
                    flex: 1 1;
                    padding: 0 20px 0 0;
                    position: relative;

                    .input {
                        color: #FFB800;
                        border: 1px solid #4A4A4A;
                        background: transparent;
                        margin-right: 13px;
                        padding: 5px 15px;
                        text-align: center;
                        font-size: 20px;
                        width: 100%;
                        height: 100%;
                    }

                    button {
                        position: absolute;
                        right: 30px;
                        top: 18px;
                        background: #ffb800;
                        color: #fff;
                        border: none;
                        padding: 10px 19px;
                        cursor: pointer;
                    }
                }

                .buttonPrimary {
                    flex: 1 1;
                    height: 76px;
                    border: 1px solid #FFB800;
                    color: #FFB800;
                    font-size: 20px;
                    background: transparent;
                    padding: 0 20px;
                    cursor: pointer;
                    ;

                    .inner {
                        border-left: 5px solid #6EB737;
                        border-right: 5px solid #6EB737;
                    }
                }
            }

            .input_tips {
                padding: 4px 0;
                color: #fff;
                font-size: 12px;
                text-align: left;
            }

            .tips {
                padding: 15px 0;
                color: #666666;
                font-size: 12px;
            }

        }

        .cells {
            padding: 10px 0;

            .progress {
                border: 1px solid #FFB800;
                height: 15px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                margin: 20px 0;

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 40%;
                    background: #FFB800;
                }
            }

            .cell {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                padding: 14px 0;

                .input {
                    border: 1px solid #666666;
                    padding: 15px 20px;
                    font-size: 30px;
                    color: #c5c5c5;
                    width: 100%;
                    background: #000;
                }

                .label {
                    b {
                        color: #6EB737;
                    }
                }

                .content {
                    b {
                        color: #FFB800;
                    }
                }
            }
        }

        .borderTop {
            border-top: 1px solid #4A4A4A;
        }

        .borderBottom {
            border-bottom: 1px solid #4A4A4A;
        }

        .colorPrimary {
            color: #FFB800;
        }

        .detail {
            padding-bottom: 30px;

            ul {
                li {
                    display: inline-block;
                    text-align: center;
                    width: 50%;
                    font-size: 30px;

                    h1 {
                        line-height: 1.5em;

                        b {
                            font-size: 12px;
                        }
                    }

                    p {
                        font-size: 12px;
                        color: #6EB737;
                    }
                }
            }
        }
    }
}
